【物語の背景と世界観】
『サノバウィッチ』（Sabbat of the Witch）は、ゆずソフトより発売された恋愛アドベンチャーゲームです。
本作は「他人の気持ちを感じ取る能力」を持った青年と、若き魔女たちの交流を描いたポップなオカルト学園ラブコメディです。タイトルの「サノバウィッチ」は、主人公である柊史が「魔女の息子 (Son of a Witch)」であることを示しています。
ある日、主人公の保科柊史は図書室で、クラスの人気者である綾地寧々の秘密の姿を偶然見てしまいます。そこで彼女が「魔女」であること、そして魔法の契約の代償として「突然強い衝動に駆られる（特殊な体質になる）」という秘密を知ってしまいます。
寧々と秘密を共有することになった柊史は、彼女が魔女として「心の欠片」を集める活動を手伝うため、オカルト研究部に所属することになり、さまざまな悩みを抱える少女たちとの非日常的な物語が幕を開けます。
（※システム上の特徴として、寧々ルートのみ前半と後半が分かれており、前半クリア後にタイトル画面に出現する「RESTART」を選択することで後半ルートへ進む仕掛けが存在します。）

【用語・世界観設定】
- 魔女: アルプと契約を交わした人間のこと。契約には強い感情（魔力）を「代償」として支払う義務が生じ、その代償の内容はランダムに決まる。また、一般人には認識されにくい（声や接触、意識を集中しないと気づかれない）特殊な「魔具（服装や武器）」が与えられる。
- アルプ: 動物が変化した存在。テレパシーのような簡単な魔法を行使できるが、アルプ自身が魔女になることや、魔女と同じ強力な魔法を使うことはできない。
- 魔法: 魔女が一度だけ行使し、自らの願いを叶えることができる力。
- 心の欠片: 人の喜怒哀楽をはじめとした強い感情の一部。これをガラス瓶の中に一杯になるまで集めることで、魔女は魔法を行使できる。
- 魔力: 人間の強い気持ちや感情を元として生成されるエネルギー。
- モンスター猟人4TH: 作中で登場するゲーム（現実の『モンスターハンター4G』がモデル）。柊史は「ウナジ（槍）」、めぐるは「ラビー（銃）」という名前でプレイしており、めぐるは発売2ヶ月弱でプレイ時間約300時間・レベル91のガチプレイヤーである。

【登場人物】
■ 主人公
- 保科 柊史（ほしな しゅうじ）: 本作の主人公。母親が願いを叶えた魔女であり、その力の一部である「人の気持ちを五感で感じる」能力を受け継いでいる「混ざり者」。嫉妬や嘘などの負の感情を向けられると痛みを伴うため、他人と距離を取って接している。そのため、女子からは「都合良く使える男」と認知されることもあり、不器用でデリカシーがないとしばしば苦言を呈される。

■ メインヒロイン
- 綾地 寧々（あやち ねね） (声: 桐谷華): 柊史の同級生でオカルト研究部員。容姿端麗で男女問わず人気が高いが、他人とは距離を置いている。ある願いを叶えるべく魔女になったが、代償として「突然強い衝動に駆られる」秘密を抱える。柊史に秘密を共有しフォローしてもらうことに感謝しつつも、気を遣われたり秘密の姿を見られたりすることに自己嫌悪を抱いている。
- 因幡 めぐる（いなば めぐる） (声: 遥そら): 柊史の後輩。派手なギャル風の見た目は学校デビューの結果作られたイメージであり、実際はシングルプレイのゲーム（乙女ゲームなど）を愛好するゲーマー。とある事情で友達作りに失敗して悩み、オカ研の扉を叩いた。
- 椎葉 紬（しいば つむぎ） (声: 黒咲そら): 柊史の同級生として転入してきた魔女。「女性らしい服装を着ると体調が悪化する」という契約の代償があるため、男子用の制服を着ている。本人は女の子らしい服が好きで、オカ研の部室でめぐると「どこまで女の子らしくしていいか」を日々研究している。
- 戸隠 憧子（とがくし とうこ） (声: 明科まなさ): 柊史の先輩であり生徒会長。おっとりした印象だが有能で、人をおちょくるのが好き。オカ研にある相談に訪れたことを機に、柊史と深く関わるようになる。

■ サブキャラクター
- 仮屋 和奏（かりや わかな） (声: 小鳥居夕花): 柊史の同級生で親友。サブキャラクターだが攻略対象。男女分け隔てなく接するが、かなりの人見知り。喫茶店「Schwarze Katze」でアルバイトをしている。
- 相馬 七緒（そうま ななお） (声: 沢村かすみ): 喫茶店「Schwarze Katze」のオーナー。少し軽そうだが落ち着いた性格。正体は黒猫のアルプであり、寧々の契約者。
- 久島 佳苗（ひさしま かなえ） (声: 村田サナ): 柊史たちのクラスの担任。死語同然の擬音語を使った個性的な笑い方をする。
- 海道 秀明（かいどう ひであき） (声: 寺竹順): 柊史の友人。気さくな普通の男子に見えるが、実際は周囲が引くほどの非常に変わった嗜好の持ち主。
- 保科 太一（ほしな たいち） (声: 鳩マン軍曹): 柊史の父親。仕事中心の生活だが、人から距離を置く息子を常に気にかけている。年齢の割に若々しい。
- 保科 唯（ほしな ゆい）: 柊史の母親（旧姓: 日向）。柊史が3歳になる前に交通事故で他界した。かつての魔女の一人であり、後天的な病気で耳が不自由だったが、魔女の契約で耳を治すことはせず、代わりに「人の心を完全に読むことができる能力」を得た。
- 越路 美穂（こしじ みほ） (声: 桃山いおん): 学生会副会長。柊史の元クラスメイト。憧子から後任の生徒会長に推薦されているが、乗り気ではない。
- 木月 千穂子（きづき ちほこ）: めぐるの唯一の親友で、愛称は「ちーちゃん」。魔女の一人。叶えたい魔法の規模が大きすぎるため、代償として「家族を含む身の回りの人間のことを徐々に忘れていく」という重い運命を背負っている。
- アカギ (声: 真宮ゆず): カラスのアルプであり、千穂子および紬の契約者。紬ルートでは寧々の心の欠片を横取りしようとするなど暴虐無人な性格だが、めぐるルートでは千穂子のことを想ってめぐるに優しい言葉をかけるなど、ルートによって性格が一変する。