～あっての
～いかん・〜いかんによって
～いかんでは・～いかんによっては
～いかんによらず・～いかんにかかわらず
～うが・～うと
～うが～まいが・～うと～まいと
～うにも～ない
～かぎりだ
～たが最後・～たら最後
～かたがた
～かたわら
～がてら
～が早いか
～からある・～からする・～からの
～きらいがある
～極まる・～極まりない
～ごとく・～ごとき・～ごとし
～こととて
～なしに・～ことなしに
～始末だ
～ずくめ
～ないではおかない・～ずにはおかない
～ないではすまない・～ずにはすまない
～すら
～そばから
～たところで
～だに
～たりとも
～たる
～つ～つ
～であれ・～であろうが・～であろうと
～てからというもの
～でなくて何だろう
～じゃあるまいし
～てやまない
～と相まって
～とあって
～とあれば・～とあらば
～といい～といい
～というところだ・～といったところだ
～といえども
～といったらない・～といったらありはしない
～と思いきや
～ときたら
～ところを
～にしたところで・～としたところで
～とは（驚き）
～とはいえ
～とばかりに
～ともなく・～ともなしに
～ともなると・～ともなれば
～ないまでも
～ないものでもない・～ないでもない・～なくもない
～ながらに・～ながらの
～なくして
～ならでは
～なり
～なり…なり
～なりに・～なりの
～にはあたらない
～てはたまらない・～てはかなわない
～にあって
～に至って・～に至る
～に至るまで
～にかかわる
～にかたくない
～にして
～に即して
～に則して・～に則って
～にたえる・～にたえない
～に足る
～にひきかえ
～にもまして
～の至り
～の極み
～はおろか
～ばこそ
～ばそれまでだ
～べからず・～べからざる
～のではあるまいか
～べく
～まじき
～までだ・～までのことだ
～までもない・～までもなく
～まみれ
～めく
～もさることながら
～ものを
～や否や
～ゆえに
～をおいて…ない
～を限りに・～限りで
～をもって
～を皮切りにして・～を皮切りとして
～を禁じ得ない
～をものともせずに
～を余儀なくされる・～を余儀なくさせる
～をよそに
～んがために
～んばかりに
～次第だ（経緯）
～に～ない
～以前に
～たら～たで・～ば～で
～なら～で
～に越したことはない
～にも程がある
～べくして
～ならまだしも・～はまだしも
～をいいことに
～はずみに・～はずみで・～拍子に・～拍子で
～もあって
～かいがある・～がい
～わ…わ
～だの…だの
～ありき
～ならいざしらず・～はいざしらず
～ようによって
～ひとつで
～たためしがない
～にかこつけて
～ごとくに
～たるもの
～であれ～であれ
～といわず～といわず
～に至っては
～にとどまらず
～なくしては～ない
