～あげく
～あまり・あまりの～に
～以上
～一方
～うえで
～うえで ②
～うえは
～うではないか
～得る
～かぎり
～かぎりでは
～がたい
～かねる
～かねない
～からして
～からして・～からすると・～からすれば・～からしたら
～からといって・～からって
～気味
～きり
～くせに・～くせして
～げ
～ことだ（忠告）
～ことだ（感慨）
～ことなく
～ことに
～ざるを得ない
～次第
～次第で
～次第では
～上・～の上で
～ないではいられない・～ずにはいられない
～だけに・～だけあって・～だけのことはある
～っこない
～つつ
～つつ ②
～つつある
～っぱなし
～て以来
～てならない
～と言えば・～と言うと・～と言ったら
～ってば・～ったら
～というものだ
～というものではない
～とか
～どころか
～どころではない
～とともに
～ないことには
～ないことはない
～ながら（逆接）
～にあたって
～に応じて
～にかかわりなく・～にかかわらず
～にもかかわらず
～に限って
～に限らず
～に限り（限定）
～に関して
～に相違ない
～に際して
～に先立って
～にしたら・～にすれば / ～にしても・にしたって（立場）
～にしては
～にしても・～にしたって・～にしろ・～にせよ
～にすぎない
～に沿って
～につけて
～にともなって
～にほかならない
～に基づいて
～はさておき
～はもとより
～ぬきで・～ぬきに・～をぬきにして・～はぬきにして
～末に
～のみならず
～ばかりか
～ばかりに
～くらいなら
～まい
～うか～まいか
～もかまわず
～ものがある
～ものだ・～ものではない（常識・本質）
～ものだ（感慨・懐古）
～ものなら
～ないものか
～うものなら
～ものの
～やら～やら
～ようがない
～を契機にして・～を契機として
～を問わず
～をはじめとして
～をめぐって
～をもとにして
～か～ないかのうちに
～かと思うと・～かと思ったら
～ぬく
～てみせる
～ようなら・～ようだったら・～ようだと・～ようであれば
～ようでは
～ないで済む・～なくて済む・～ずに済む
～こと（指示）
～ことか
～ておいて・～ておきながら
～てはいられない
～につき
～にて
～たて
～というか
～ところだった
～たる・～なる・～き・～し（古い形容詞表現）
～折
～ほうがまし・～よりまし・～だけまし
～を受けて
～ごとに・～おきに
～のではないだろうか
～って（主題）
～って（焦燥・当惑・聞き返し）
～はしない・～てはいない・～くはない
～てでも
～とは限らない・～とも限らない
～得ない
～きれない
～通す
～にしろ～にしろ
～にせよ～にせよ
