～一方だ
～うえに
～うちに
～おかげ
～おそれがある
～かける・～かけ
～がち
～から～にかけて
～からには
～から見て・～から見ると・～から見れば・～から見たら
～かわりに
～きる・～きれる
～くらい・～くらいだ
～こそ
～ことから・～ところから
～のことだから・～のことだ
～ことはない
～最中に
～際に・～際は
～ことになっている
～ことにしている
～ことになる ②
～さえ
～さえ～ば
～しかない
～せい
～だけ・～だけの
～たところ
～たとたん
～たびに
～だらけ
～ついでに
～っけ
～っぽい
～てからでないと・～てからでなければ
～てしょうがない・～てしかたがない
～てたまらない
～ということだ・～とのことだ
～ということだ ②
～というより
～なくちゃ・～なきゃ・～ないと
～といっても
～とおりに
～ところへ・～ところに・～ところで・～ところを
～としたら・～とすれば・～とすると・～としても
～として
～など・～なんか・～なんて
～において・～における
～にかけては
～に代わって
～に決まっている
～に比べて・～と比べて
～に加えて
～にしたがって
～に対して
～に違いない
～について
～につれて
～にとって
～み・～め
～に対して（対比）
～に応えて
～に反して
～によって（方法手段・原因・創造主）
～によって・～によっては（変化要因）
～によると・～によれば
～にわたって
～ば～ほど・～なら～ほど
～はともかく
～はもちろん
～だけでなく・～ばかりでなく
～反面・～半面
～べきだ・～べきではない
～しかない・～よりほかはない・～ほかしかたがない
～ほど・～ほどだ
～ほど…はない・～くらい…はない
～くらい（些細）
～向きに・～向きだ・～向けに・～向けだ
～も…ば～も・～も…なら～も
～もので・～ものだから・～もの
～ものか
～わけがない
～わけだ
～わけではない
～わけにはいかない
～というのは・～とは・～って
～わりに
～を…にして・～を…として
～をきっかけにして・～をきっかけとして
～を込めて・～がこもった
～を中心にして・～を中心として
～を通じて・～を通して
～から言って・～から言うと・～から言えば・～から言ったら
～のもとで・～のもとに
～かのようだ
～ばいいのに・～なければいいのに
～ばよかった
～のみ
～途中
～放題
～ふりをする
～ず・～ずに・～ねば・～ぬ・～ん（特殊否定表現）
～つもり（想定）
～場合じゃない・～場合か
～だけで
～間・～間に
～てはじめて
～込む
～合う
～のこと
～たことにする・～たことになる
～じゃないか（驚き・同意要求）
～って（提示内容・伝聞）
～たって・～だって（逆接・同様）
～ずつ
～かしら
～もん・～んだもん・～だもの
～やがる・～てやがる
～てちょうだい
～たまえ
～てたまるか
～わけじゃない
～べきじゃない
～じゃない？・～じゃん
～っす
～たらどう？・～てみたら？
～に決まってる
