～までに
～つもり
～かもしれません
～は...より
～やすい
～にくい
～方
～ので
～のに
～ことができます
～たことがあります
～ほうがいいです
～すぎます・～すぎです
～なさい
～てもいいです・～てもかまいません
～てはいけません・～てはだめです
～なくてもいいです・～なくてもかまいません
～なくてはいけません・～なければなりません・～ないとだめです
～ことになります
～ことにします
～てきます
～ていきます
～てみます
～てしまいます
～ておきます
～ています
～はじめます
～だします
～続けます
～終わります・～終えます
～が します
～てあげます
～てもらいます
～てくれます
やります・～てやります
さしあげます・～てさしあげます
いただきます・～ていただきます
くださいます・～てくださいます
～ことがあります
～ために
～ために ②
～ところです
～ように
～ようになります・～なくなります
～ようにします
～ようにしてください
～んです・～のです
～より…ほうが
～は…ほど
～と…と どちら
～で…が いちばん
～と言います
～ように言います
～と思います
～うと思います
～うとします
～がります
～さ
数量詞+助詞
～ないで
～なくて（原因・並述）
～ず・～ずに
～まま
助詞：全肯定「でも」
～か・～かどうか
お～になります・お～です・ご～になります・ご～です
お～ください・ご～ください
お～します・ご～します
～せていただきます
お～・ご～
ございます・～でございます・いらっしゃいます・～でいらっしゃいます
～うございます
お～いただきます・ご～いただきます
～せてください・～せてくださいませんか
～はずです・～はずがありません
～し～し
～ばかり（偏向・偏重）
～たばかりです
～だろう
～たら
～なら
～と（条件）
～たらいいです・～ばいいです・～といいです
～でも（挙例・程度）
～とか（挙例）
～の（形式名詞）
～という
～こと（形式名詞）
～だけ・～ばかり（限定）
～場合
～でしょうか（丁寧）
～れる・～られる（ら抜き言葉）
～じゃなくて
～たり～たり（反復・不定）
～かい・～だい
～ても（逆接）
～そうです（伝聞）
～そうです（推量）
～らしい（伝聞・推量）
～らしい（典型）
～ようです
～みたいです（推量・挙例・比喩）
～かな・～よね
～う・～よう（意向形）
～える・～られる（可能形）
～え・～ろ（命令形）
～な（禁止形）
～ば（条件形）
～れる・～られる（受身形）
～せる・～させる（使役形）
～せられる・～させられる（使役受身形）
お～になる・～れる・～られる（尊敬語）
お～する・～させていただく（謙譲語）
～てほしい
～させてほしい
～ばいい
