～です・～じゃありません（名詞肯定・否定）
～ます・～ません（動詞肯定・否定）
～です・～じゃありません（な形容詞肯定・否定）
～いです・～くないです（い形容詞肯定・否定）
助詞：主題「は」
助詞：同様「も」
助詞：所属、所有、所在、所産「の」
助詞：疑問「か」
～でした・～じゃありませんでした（名詞過去）
～ました・～ませんでした（動詞過去）
～でした・～じゃありませんでした（な形容詞過去）
～かったです・～くなかったです（い形容詞過去）
助詞：動作進行時点「に」
助詞：移動方向「へ」
助詞：交通工具「で」
助詞：動作夥伴「と」
～ませんか
～くなります・～になります
～くします・～にします
～ましょう
助詞：動作作用対象「を」
助詞：動作進行地点「で」
助詞：起点・経由点「から」
助詞：終点・限界「まで」
助詞：並立「と」
助詞：並立一部「や」
助詞：手段・工具「で」
助詞：動作相手「に」
～てあげます・～にあげます
～てもらう・～にもらう
～てくれる・～がくれる
～てやります・～にやります
助詞：動作相手授方「から」
助詞：接触点「に」
助詞：動作単位「で」
助詞：焦点「が」
助詞：存在位置「に」
～に…が あります（います）
～は…に あります（います）
～が 欲しいです・～たいです
助詞：原因・理由「から」
～て（原因）・助詞：原因「で」
もう・まだ
～て（方法・手段）
助詞：進入点・到達点「に」
助詞：離脱点「を」
助詞：経過点「を」
助詞：概数量「くらい」
助詞：限定「だけ」
助詞：限定「しか」（強調：軽薄短小少）
～の（名詞代替）
～てから
～あとで
～まえに
助詞：全否定「も」
～て（附帯状況）
～とき
助詞：同意「ね」
助詞：喚起「よ」
助詞：女性語気「わ」
疑問詞＋か（不特定・不確定）
助詞：述語の主体「が」
助詞：逆接「が」
～てください・～ないでください
～ないで（附帯状況）
助詞：同時進行「ながら」
助詞：前言「が」
助詞：逆接・前言「けど」
助詞：目的「に」
助詞：分母「に」
助詞：言及範囲「で」
～でしょう
～ころ
～ています（現在進行）（目前状態）
～たり～たり（動作並立＜一部＞）
～中
助詞：区別・対比「は」
助詞：選択「か」
～という（名称導入）
～からです
格助詞＋は・格助詞＋も
助詞：相互動作對方「と」
助詞：意識感情対象「を」・方向（非移動）「を」
助詞：方面「に」
助詞：変化決定結果「に」
～てある・～てあります（他動詞）
